@import 'tailwindcss';

@theme {
  --color-primary: #a855f7;
  --color-primary-foreground: #ffffff;

  --color-destructive: #ef4444;
  --color-destructive-foreground: #ffffff;

  --color-background: #0f172a;

  --color-accent: #1e293b;
  --color-accent-foreground: #f9fafb;

  --color-input: #334155;

  --color-secondary: #14b8a6;
  --color-secondary-foreground: #0f172a;

  --color-disabled: #64748b;
  --color-disabled-foreground: #1e293b;

  --color-overlay: rgba(0, 0, 0, 0.6);

  --color-surface: #1e293b;
  --color-surface-foreground: #f9fafb;

  --color-border: #334155;
}

[data-theme='dark'] {
  --color-primary: #a855f7;
  --color-primary-foreground: #ffffff;

  --color-destructive: #ef4444;
  --color-destructive-foreground: #ffffff;

  --color-background: #0f172a;

  --color-accent: #1e293b;
  --color-accent-foreground: #f9fafb;

  --color-input: #334155;

  --color-secondary: #14b8a6;
  --color-secondary-foreground: #0f172a;

  --color-disabled: #64748b;
  --color-disabled-foreground: #1e293b;

  --color-overlay: rgba(0, 0, 0, 0.6);

  --color-surface: #1e293b;
  --color-surface-foreground: #f9fafb;

  --color-border: #334155;
}

[data-theme='light'] {
  --color-primary: #9333ea;
  --color-primary-foreground: #ffffff;

  --color-destructive: #dc2626;
  --color-destructive-foreground: #ffffff;

  --color-background: #f9fafb;

  --color-accent: #e5e7eb;
  --color-accent-foreground: #111827;

  --color-input: #d1d5db;

  --color-secondary: #0d9488;
  --color-secondary-foreground: #ffffff;

  --color-disabled: #9ca3af;
  --color-disabled-foreground: #f3f4f6;

  --color-overlay: rgba(0, 0, 0, 0.4);

  --color-surface: #ffffff;
  --color-surface-foreground: #111827;

  --color-border: #e5e7eb;
}
